		h1{
			    background-color : rgb(103,103,0);
				color : white;
				text-align : center;
			}
			h3{
			    background-color : rgb(103,103,10);
				color : white;
				text-align : center; 
				moz-animation-duration: 2s;
                -webkit-animation-duration: 2s;
                -moz-animation-name: slidein;
                -webkit-animation-name: slidein;
			}
			@-moz-keyframes slidein {
                from {
                        margin-left: 100%;
                        width:100%
                }
                to {
                        margin-left:0%;
                        width:100%;
                }
            }
		    @-webkit-keyframes slidein{
				from{
					margin-left : 100%; 
					width : 100%
				}
				to{
					margin-left : 0%;
					width : 100%;
				}
			}
			h1, h3{
				margin : -5px;
			}
			#center{
				margin : 0;
				position : absolute;
				top : 85%;
				left : 45%;
			}
			#center1{
				margin : 0;
				position : absolute;
				top : 90%;
				left : 40%;
			}
			body{
				margin : 5px 5px 0 5px
				padding : 0;
				background : rgb(225,225,225);
			}
			#top_left{
			    margin : 2px;
				position : absolute;
				top : 2px;
				left : 2px;
			}
	
